---
import { Image } from "astro:assets";
import aboutImg from "../assets/images/me.jpeg";
---

<section id="sobre-mi" class="bg-primary-light py-24 md:py-32 px-6 md:px-12">
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20">

      <div data-animate class="relative max-w-md mx-auto lg:max-w-none">
          <div class="absolute  w-full h-full border border-primary top-[20px] left-[20px]"></div>
       <Image
          src={aboutImg}
          alt="Andre, instructora de yoga"
          width={560}
          fetchpriority="high"
          loading="eager"
          class="w-full object-cover aspect-4/5 relative z-1"
        />
      </div>
    <div>

      <p data-animate class=" text-[0.65rem] tracking-[0.35em] uppercase text-primary mb-5">
        Sobre Mí
      </p>

      <h2 data-animate data-delay="100" class=" text-4xl md:text-5xl lg:text-[3.5rem] font-light leading-tight  mb-8">
        El camino hacia<br />
        <em class="italic text-primary">tu equilibrio</em>
      </h2>

      <div class="space-y-5 text-base leading-relaxed">
        <p data-animate data-delay="150">
          Sadhana nace de mi propio camino de búsqueda, escucha y reconexión con el cuerpo.
        </p>
        <p data-animate data-delay="200">
          A lo largo de los 12 años practicando entendí que el bienestar no se trata de forzar, corregir o exigir, sino de habitar el cuerpo con presencia, respeto y honestidad.
        </p>
        <p data-animate data-delay="250">
          Mi recorrido en el yoga comenzó desde el movimiento, y con el tiempo se fue expandiendo hacia prácticas más profundas de autocuidado, acompañando especialmente procesos femeninos, de transformación y de retorno a lo esencial. El yoga prenatal y postparto, el yoga facial y el masaje Kobido llegaron como una extensión natural de esta escucha, integrando el tacto consciente como una forma de sanación y ritual.
        </p>
        <p data-animate data-delay="300">
          Hoy, Sadhana es un espacio para cuerpos reales y procesos reales. Un lugar donde el movimiento, la respiración y el autocuidado se convierten en herramientas para volver a ti, honrar tu ritmo y cultivar una relación más amorosa con tu cuerpo.
        </p>

        <blockquote data-animate data-delay="350" class="mt-2 border-l-2 border-primary pl-5">
          <p class="text-primary italic text-lg md:text-xl font-light leading-snug">
            Mi filosofía es simple: cada cuerpo tiene su propia sabiduría. Mi trabajo es ayudarte a escucharla.
          </p>
        </blockquote>
      </div>

      <div class="w-10 h-px bg-primary mt-10"></div>
    </div>
  </div>
</section>
