---
import aboutImg from "../assets/images/about-me.jpg";
---

<section id="sobre-mi" class="bg-primary-light py-24 md:py-32 px-6 md:px-12">
  <div class="max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-20">

      <div class="relative max-w-md mx-auto lg:max-w-none">
          <div class="absolute  w-full h-full border border-primary top-[20px] left-[20px]"></div>
       <img
          src={aboutImg.src}
          alt="Andre, instructora de yoga"
          class="w-full object-cover aspect-4/5 relative  z-1"
        />  
      </div>
    <div >

      <p class=" text-[0.65rem] tracking-[0.35em] uppercase text-primary mb-5">
        Sobre Mí
      </p>

      <h2 class=" text-4xl md:text-5xl lg:text-[3.5rem] font-light leading-tight  mb-8">
        El camino hacia<br />
        <em class="italic text-primary">tu equilibrio</em>
      </h2>

      <div class="space-y-5  text-base leading-relaxed ">
        <p>
          Con más de 12 años guiando prácticas de Hatha y Vinyasa Yoga, he dedicado mi vida a crear espacios donde el cuerpo y la mente encuentren su ritmo natural.
        </p>
        <p>
          Formada en India y Japón, combino la tradición del yoga con el arte milenario del masaje Kobido, ofreciendo una experiencia de bienestar integral que trasciende lo físico.
        </p>
        <p>
          Mi filosofía es simple: cada cuerpo tiene su propia sabiduría. Mi trabajo es ayudarte a escucharla.
        </p>
      </div>

      <div class="w-10 h-px bg-primary mt-10"></div>
    </div>
  </div>
</section>
